src/Web/Service References/OrdemServicoServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" />
  <xs:element name="FindAllByCodCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllByCodClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllByCodClienteResult" nillable="true" type="q1:ArrayOfOrdemServicoQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllByCodClienteAndReferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codCliente" type="xs:int" />
        <xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllByCodClienteAndReferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllByCodClienteAndReferenciaResult" nillable="true" type="q2:ArrayOfOrdemServicoQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllByLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllByLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllByLoginResult" nillable="true" type="q3:ArrayOfOrdemServicoQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllByLoginAndReferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllByLoginAndReferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllByLoginAndReferenciaResult" nillable="true" type="q4:ArrayOfOrdemServicoQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllFamilia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllFamiliaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllFamiliaResult" nillable="true" type="q5:ArrayOfFamilia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllMaterial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllMaterialResult" nillable="true" type="q6:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountFechadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountFechadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountFechadasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountEmProducao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountEmProducaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountEmProducaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllProdutoServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codFamilia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllProdutoServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllProdutoServicoResult" nillable="true" type="q7:ArrayOfProdutoServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrdemServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="dto" nillable="true" type="q8:OrdemServicoOtica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrdemServicoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>