src/Web/Service References/OrdemServicoServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="OrdemServicoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrdemServicoService_FindAllByCodCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllByCodCliente" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllByCodCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllByCodClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllByCodClienteAndReferencia_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllByCodClienteAndReferencia" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllByCodClienteAndReferencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllByCodClienteAndReferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllByLogin" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllByLoginAndReferencia_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllByLoginAndReferencia" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllByLoginAndReferencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllByLoginAndReferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllFamilia_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllFamilia" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllFamilia_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllFamiliaResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllMaterial" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_GetCountFechadas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountFechadas" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_GetCountFechadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountFechadasResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_GetCountEmProducao_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountEmProducao" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_GetCountEmProducao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountEmProducaoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllProdutoServico_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllProdutoServico" />
  </wsdl:message>
  <wsdl:message name="IOrdemServicoService_FindAllProdutoServico_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllProdutoServicoResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrdemServicoService">
    <wsdl:operation name="FindAllByCodCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllByCodCliente" message="tns:IOrdemServicoService_FindAllByCodCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllByCodClienteResponse" message="tns:IOrdemServicoService_FindAllByCodCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllByCodClienteAndReferencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllByCodClienteAndReferencia" message="tns:IOrdemServicoService_FindAllByCodClienteAndReferencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllByCodClienteAndReferenciaResponse" message="tns:IOrdemServicoService_FindAllByCodClienteAndReferencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllByLogin" message="tns:IOrdemServicoService_FindAllByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllByLoginResponse" message="tns:IOrdemServicoService_FindAllByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllByLoginAndReferencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllByLoginAndReferencia" message="tns:IOrdemServicoService_FindAllByLoginAndReferencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllByLoginAndReferenciaResponse" message="tns:IOrdemServicoService_FindAllByLoginAndReferencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllFamilia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllFamilia" message="tns:IOrdemServicoService_FindAllFamilia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllFamiliaResponse" message="tns:IOrdemServicoService_FindAllFamilia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllMaterial" message="tns:IOrdemServicoService_FindAllMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllMaterialResponse" message="tns:IOrdemServicoService_FindAllMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountFechadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdemServicoService/GetCountFechadas" message="tns:IOrdemServicoService_GetCountFechadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdemServicoService/GetCountFechadasResponse" message="tns:IOrdemServicoService_GetCountFechadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountEmProducao">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdemServicoService/GetCountEmProducao" message="tns:IOrdemServicoService_GetCountEmProducao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdemServicoService/GetCountEmProducaoResponse" message="tns:IOrdemServicoService_GetCountEmProducao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllProdutoServico">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllProdutoServico" message="tns:IOrdemServicoService_FindAllProdutoServico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdemServicoService/FindAllProdutoServicoResponse" message="tns:IOrdemServicoService_FindAllProdutoServico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrdemServicoService" type="tns:IOrdemServicoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAllByCodCliente">
      <soap:operation soapAction="http://tempuri.org/IOrdemServicoService/FindAllByCodCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllByCodClienteAndReferencia">
      <soap:operation soapAction="http://tempuri.org/IOrdemServicoService/FindAllByCodClienteAndReferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllByLogin">
      <soap:operation soapAction="http://tempuri.org/IOrdemServicoService/FindAllByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllByLoginAndReferencia">
      <soap:operation soapAction="http://tempuri.org/IOrdemServicoService/FindAllByLoginAndReferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllFamilia">
      <soap:operation soapAction="http://tempuri.org/IOrdemServicoService/FindAllFamilia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllMaterial">
      <soap:operation soapAction="http://tempuri.org/IOrdemServicoService/FindAllMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountFechadas">
      <soap:operation soapAction="http://tempuri.org/IOrdemServicoService/GetCountFechadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountEmProducao">
      <soap:operation soapAction="http://tempuri.org/IOrdemServicoService/GetCountEmProducao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllProdutoServico">
      <soap:operation soapAction="http://tempuri.org/IOrdemServicoService/FindAllProdutoServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrdemServicoService">
    <wsdl:port name="BasicHttpBinding_IOrdemServicoService" binding="tns:BasicHttpBinding_IOrdemServicoService">
      <soap:address location="http://localhost:53990/OrdemServico" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>