src/Web/Service References/ClienteServiceReference/Dataweb.Dilab.Model.DataTransfer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model" />
  <xs:complexType name="Cliente">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model" base="q1:DataTransferBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cnpj" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodCliente" type="xs:int" />
          <xs:element minOccurs="0" name="CodEmpresa" type="xs:int" />
          <xs:element minOccurs="0" name="EmailNotificacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Identificador" type="xs:int" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeEmpresa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReceberNotificacao" type="xs:boolean" />
          <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>