src/Web/Service References/ClienteServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" />
  <xs:element name="FindByLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindByLoginResult" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailNotificacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receberNotificacao" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>