src/Web/Service References/ClienteServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_FindByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByLogin" />
  </wsdl:message>
  <wsdl:message name="IClienteService_FindByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ValidateLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ValidateLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ChangePassword_DatawebFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.Service" name="detail" element="q1:DatawebFault" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ChangeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmail" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ChangeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="FindByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/FindByLogin" message="tns:IClienteService_FindByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/FindByLoginResponse" message="tns:IClienteService_FindByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ValidateLogin" message="tns:IClienteService_ValidateLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ValidateLoginResponse" message="tns:IClienteService_ValidateLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ChangePassword" message="tns:IClienteService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ChangePasswordResponse" message="tns:IClienteService_ChangePassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClienteService/ChangePasswordDatawebFaultFault" name="DatawebFaultFault" message="tns:IClienteService_ChangePassword_DatawebFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ChangeEmail" message="tns:IClienteService_ChangeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ChangeEmailResponse" message="tns:IClienteService_ChangeEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindByLogin">
      <soap:operation soapAction="http://tempuri.org/IClienteService/FindByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatawebFaultFault">
        <soap:fault use="literal" name="DatawebFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ChangeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost:53990/Cliente" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>