src/Web/Service References/ProdutoServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ProdutoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProdutoService_FindAllTransacaoByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllTransacaoByLogin" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllTransacaoByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllTransacaoByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllTransacaoByLoginAndReferencia_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllTransacaoByLoginAndReferencia" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllTransacaoByLoginAndReferencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllTransacaoByLoginAndReferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllFamilia_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllFamilia" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllFamilia_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllFamiliaResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllMaterial" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetCountFechadas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountFechadas" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetCountFechadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountFechadasResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetCountEmProducao_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountEmProducao" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetCountEmProducao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountEmProducaoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllServico_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllServico" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllServico_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllServicoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetTransacao_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransacao" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetTransacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetOrdemServico_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdemServico" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetOrdemServico_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdemServicoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPedido" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_InsertOrdemServico_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrdemServico" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_InsertOrdemServico_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrdemServicoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_InsertPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPedido" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_InsertPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllFatura_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllFatura" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllFatura_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllFaturaResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllLancamento_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllLancamento" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllLancamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllLancamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_FindAllNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetFatura_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFatura" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetFatura_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFaturaResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetNotaFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetNotaFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetXmlNotaFiscalEletronica_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlNotaFiscalEletronica" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_GetXmlNotaFiscalEletronica_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlNotaFiscalEletronicaResponse" />
  </wsdl:message>
  <wsdl:portType name="IProdutoService">
    <wsdl:operation name="FindAllTransacaoByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/FindAllTransacaoByLogin" message="tns:IProdutoService_FindAllTransacaoByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/FindAllTransacaoByLoginResponse" message="tns:IProdutoService_FindAllTransacaoByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllTransacaoByLoginAndReferencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/FindAllTransacaoByLoginAndReferencia" message="tns:IProdutoService_FindAllTransacaoByLoginAndReferencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/FindAllTransacaoByLoginAndReferenciaResponse" message="tns:IProdutoService_FindAllTransacaoByLoginAndReferencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllFamilia">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/FindAllFamilia" message="tns:IProdutoService_FindAllFamilia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/FindAllFamiliaResponse" message="tns:IProdutoService_FindAllFamilia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/FindAllMaterial" message="tns:IProdutoService_FindAllMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/FindAllMaterialResponse" message="tns:IProdutoService_FindAllMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountFechadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/GetCountFechadas" message="tns:IProdutoService_GetCountFechadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/GetCountFechadasResponse" message="tns:IProdutoService_GetCountFechadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountEmProducao">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/GetCountEmProducao" message="tns:IProdutoService_GetCountEmProducao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/GetCountEmProducaoResponse" message="tns:IProdutoService_GetCountEmProducao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllServico">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/FindAllServico" message="tns:IProdutoService_FindAllServico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/FindAllServicoResponse" message="tns:IProdutoService_FindAllServico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/FindAllProduto" message="tns:IProdutoService_FindAllProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/FindAllProdutoResponse" message="tns:IProdutoService_FindAllProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/GetTransacao" message="tns:IProdutoService_GetTransacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/GetTransacaoResponse" message="tns:IProdutoService_GetTransacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdemServico">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/GetOrdemServico" message="tns:IProdutoService_GetOrdemServico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/GetOrdemServicoResponse" message="tns:IProdutoService_GetOrdemServico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/GetPedido" message="tns:IProdutoService_GetPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/GetPedidoResponse" message="tns:IProdutoService_GetPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrdemServico">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/InsertOrdemServico" message="tns:IProdutoService_InsertOrdemServico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/InsertOrdemServicoResponse" message="tns:IProdutoService_InsertOrdemServico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/InsertPedido" message="tns:IProdutoService_InsertPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/InsertPedidoResponse" message="tns:IProdutoService_InsertPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllFatura">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/FindAllFatura" message="tns:IProdutoService_FindAllFatura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/FindAllFaturaResponse" message="tns:IProdutoService_FindAllFatura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllLancamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/FindAllLancamento" message="tns:IProdutoService_FindAllLancamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/FindAllLancamentoResponse" message="tns:IProdutoService_FindAllLancamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/FindAllNotaFiscal" message="tns:IProdutoService_FindAllNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/FindAllNotaFiscalResponse" message="tns:IProdutoService_FindAllNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFatura">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/GetFatura" message="tns:IProdutoService_GetFatura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/GetFaturaResponse" message="tns:IProdutoService_GetFatura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotaFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/GetNotaFiscal" message="tns:IProdutoService_GetNotaFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/GetNotaFiscalResponse" message="tns:IProdutoService_GetNotaFiscal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlNotaFiscalEletronica">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/GetXmlNotaFiscalEletronica" message="tns:IProdutoService_GetXmlNotaFiscalEletronica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/GetXmlNotaFiscalEletronicaResponse" message="tns:IProdutoService_GetXmlNotaFiscalEletronica_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProdutoService" type="tns:IProdutoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAllTransacaoByLogin">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/FindAllTransacaoByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllTransacaoByLoginAndReferencia">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/FindAllTransacaoByLoginAndReferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllFamilia">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/FindAllFamilia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllMaterial">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/FindAllMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountFechadas">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/GetCountFechadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountEmProducao">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/GetCountEmProducao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllServico">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/FindAllServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/FindAllProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransacao">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/GetTransacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdemServico">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/GetOrdemServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedido">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/GetPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrdemServico">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/InsertOrdemServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPedido">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/InsertPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllFatura">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/FindAllFatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllLancamento">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/FindAllLancamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/FindAllNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFatura">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/GetFatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/GetNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlNotaFiscalEletronica">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/GetXmlNotaFiscalEletronica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProdutoService">
    <wsdl:port name="BasicHttpBinding_IProdutoService" binding="tns:BasicHttpBinding_IProdutoService">
      <soap:address location="http://localhost:53990/Produto" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>