src/Web/Service References/ProdutoServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" />
  <xs:element name="FindAllTransacaoByLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllTransacaoByLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllTransacaoByLoginResult" nillable="true" type="q1:ArrayOfTransacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllTransacaoByLoginAndReferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllTransacaoByLoginAndReferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllTransacaoByLoginAndReferenciaResult" nillable="true" type="q2:ArrayOfTransacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllFamilia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllFamiliaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllFamiliaResult" nillable="true" type="q3:ArrayOfFamilia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllMaterial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllMaterialResult" nillable="true" type="q4:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountFechadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountFechadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountFechadasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountEmProducao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountEmProducaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountEmProducaoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codFamilia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllServicoResult" nillable="true" type="q5:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codFamilia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllProdutoResult" nillable="true" type="q6:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codTransacao" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="GetTransacaoResult" nillable="true" type="q7:Transacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdemServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codTransacao" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdemServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="GetOrdemServicoResult" nillable="true" type="q8:OrdemServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codTransacao" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="GetPedidoResult" nillable="true" type="q9:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrdemServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="dto" nillable="true" type="q10:OrdemServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrdemServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="InsertOrdemServicoResult" nillable="true" type="q11:OrdemServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="dto" nillable="true" type="q12:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="InsertPedidoResult" nillable="true" type="q13:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllFatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllFaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllFaturaResult" nillable="true" type="q14:ArrayOfFatura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllLancamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllLancamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllLancamentoResult" nillable="true" type="q15:ArrayOfLancamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllNotaFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllNotaFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="FindAllNotaFiscalResult" nillable="true" type="q16:ArrayOfNotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codFatura" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="GetFaturaResult" nillable="true" type="q17:Fatura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotaFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codNotaFiscal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotaFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dataweb.Dilab.Model.DataTransfer" minOccurs="0" name="GetNotaFiscalResult" nillable="true" type="q18:NotaFiscal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>